In [1]:
from constants import DATA_DIR

from astrofit.damit_connector import AsteroidDownloader
from astrofit.utils import AsteroidLoader

In [2]:
downloader = AsteroidDownloader(DATA_DIR)
asteroid_loader = AsteroidLoader(DATA_DIR)

In [3]:
asteroid_loader.asteroids_df

,number,name,designation,comment,created,modified
id,,,,,,
101,2,Pallas,NaN,NaN,NaN,2019-05-31 11:22:28
102,3,Juno,NaN,NaN,NaN,2010-04-15 15:54:09
103,5,Astraea,NaN,NaN,NaN,2010-04-15 15:54:09
104,6,Hebe,NaN,NaN,NaN,2010-04-15 15:54:09
105,7,Iris,NaN,NaN,NaN,2019-05-31 11:23:12
...,...,...,...,...,...,...
10860,566,Stereoskopia,NaN,NaN,2023-10-03 11:28:29,2023-10-03 11:28:29
10861,738,Alagasta,NaN,NaN,2023-10-03 11:28:29,2023-10-03 11:28:29
10862,138852,NaN,NaN,NaN,2024-02-20 13:13:16,2024-02-20 13:13:16
10863,85989,NaN,NaN,NaN,2024-02-20 13:13:16,2024-02-20 13:13:16
10864,357,Ninina,NaN,NaN,2024-04-08 13:08:24,2024-04-08 13:08:24

In [3]:
sorted(asteroid_loader.available_asteroids.values(), key=lambda x: x["id"])

[{'id': 1, 'name': 'Ceres', 'period': 9.074173},
 {'id': 2, 'name': 'Pallas', 'period': 7.81322},
 {'id': 3, 'name': 'Juno', 'period': 7.20953},
 {'id': 4, 'name': 'Vesta', 'period': 5.342124},
 {'id': 5, 'name': 'Astraea', 'period': 16.80059},
 {'id': 6, 'name': 'Hebe', 'period': 7.274467},
 {'id': 7, 'name': 'Iris', 'period': 7.138844},
 {'id': 8, 'name': 'Flora', 'period': 12.86667},
 {'id': 9, 'name': 'Metis', 'period': 5.079177},
 {'id': 10, 'name': 'Hygiea', 'period': 13.82559},
 {'id': 11, 'name': 'Parthenope', 'period': 13.72205},
 {'id': 12, 'name': 'Victoria', 'period': 8.66034},
 {'id': 13, 'name': 'Egeria', 'period': 7.046665},
 {'id': 14, 'name': 'Irene', 'period': 15.02987},
 {'id': 15, 'name': 'Eunomia', 'period': 6.082754},
 {'id': 16, 'name': 'Psyche', 'period': 4.195948},
 {'id': 17, 'name': 'Thetis', 'period': 12.26603},
 {'id': 18, 'name': 'Melpomene', 'period': 11.57031},
 {'id': 19, 'name': 'Fortuna', 'period': 7.443224},
 {'id': 20, 'name': 'Massalia', 'period': 8.09902},
 {'id': 21, 'name': 'Lutetia', 'period': 8.168271},
 {'id': 22, 'name': 'Kalliope', 'period': 4.1482015},
 {'id': 23, 'name': 'Thalia', 'period': 12.31241},
 {'id': 24, 'name': 'Themis', 'period': 8.37419},
 {'id': 25, 'name': 'Phocaea', 'period': 9.935397},
 {'id': 26, 'name': 'Proserpina', 'period': 13.10977},
 {'id': 27, 'name': 'Euterpe', 'period': 10.40828},
 {'id': 28, 'name': 'Bellona', 'period': 15.70785},
 {'id': 29, 'name': 'Amphitrite', 'period': 5.39012},
 {'id': 30, 'name': 'Urania', 'period': 13.68717},
 {'id': 31, 'name': 'Euphrosyne', 'period': 5.529594},
 {'id': 32, 'name': 'Pomona', 'period': 9.44767},
 {'id': 33, 'name': 'Polyhymnia', 'period': 18.60888},
 {'id': 34, 'name': 'Circe', 'period': 12.17458},
 {'id': 35, 'name': 'Leukothea', 'period': 31.9009},
 {'id': 36, 'name': 'Atalante', 'period': 9.92692},
 {'id': 37, 'name': 'Fides', 'period': 7.332527},
 {'id': 38, 'name': 'Leda', 'period': 12.83613},
 {'id': 39, 'name': 'Laetitia', 'period': 5.138238},
 {'id': 40, 'name': 'Harmonia', 'period': 8.908485},
 {'id': 41, 'name': 'Daphne', 'period': 5.987981},
 {'id': 42, 'name': 'Isis', 'period': 13.58364},
 {'id': 43, 'name': 'Ariadne', 'period': 5.761987},
 {'id': 44, 'name': 'Nysa', 'period': 6.421417},
 {'id': 45, 'name': 'Eugenia', 'period': 5.699152},
 {'id': 46, 'name': 'Hestia', 'period': 21.0401},
 {'id': 47, 'name': 'Aglaja', 'period': 13.17707},
 {'id': 48, 'name': 'Doris', 'period': 11.8901},
 {'id': 50, 'name': 'Virginia', 'period': 14.31233},
 {'id': 51, 'name': 'Nemausa', 'period': 7.78484},
 {'id': 52, 'name': 'Europa', 'period': 5.629959},
 {'id': 53, 'name': 'Kalypso', 'period': 9.03506},
 {'id': 54, 'name': 'Alexandra', 'period': 7.02264},
 {'id': 55, 'name': 'Pandora', 'period': 4.804043},
 {'id': 56, 'name': 'Melete', 'period': 18.14818},
 {'id': 59, 'name': 'Elpis', 'period': 13.6747},
 {'id': 60, 'name': 'Echo', 'period': 25.2285},
 {'id': 62, 'name': 'Erato', 'period': 9.2182},
 {'id': 63, 'name': 'Ausonia', 'period': 9.29759},
 {'id': 64, 'name': 'Angelina', 'period': 8.75033},
 {'id': 65, 'name': 'Cybele', 'period': 6.081435},
 {'id': 66, 'name': 'Maja', 'period': 9.73572},
 {'id': 67, 'name': 'Asia', 'period': 15.8515},
 {'id': 68, 'name': 'Leto', 'period': 14.84547},
 {'id': 69, 'name': 'Hesperia', 'period': 5.65534},
 {'id': 70, 'name': 'Panopaea', 'period': 15.80439},
 {'id': 71, 'name': 'Niobe', 'period': 35.8521},
 {'id': 72, 'name': 'Feronia', 'period': 8.09068},
 {'id': 73, 'name': 'Klytia', 'period': 8.28307},
 {'id': 74, 'name': 'Galatea', 'period': 17.2675},
 {'id': 76, 'name': 'Freia', 'period': 9.97306},
 {'id': 79, 'name': 'Eurynome', 'period': 5.977722},
 {'id': 80, 'name': 'Sappho', 'period': 14.03086},
 {'id': 82, 'name': 'Alkmene', 'period': 13.00079},
 {'id': 83, 'name': 'Beatrix', 'period': 10.1107},
 {'id': 84, 'name': 'Klio', 'period': 23.575},
 {'id': 85, 'name': 'Io', 'period': 6.874784},
 {'id': 86, 'name': 'Semele', 'period': 16.642},
 {'id': 87, 'name': 'Sylvia', 'period': 5.183641},
 {'id': 88, 'name': 'Thisbe', 'period': 6.041319},
 {'id': 89, 'name': 'Julia', 'period': 11.388336},
 {'id': 91, 'name': 'Aegina', 'period': 6.02817},
 {'id': 93, 'name': 'Minerva', 'period': 5.981768},
 {'id': 94, 'name': 'Aurora', 'period': 7.226189},
 {'id': 95, 'name': 'Arethusa', 'period': 8.70221},
 {'id': 97, 'name': 'Klotho', 'period': 35.251},
 {'id': 98, 'name': 'Ianthe', 'period': 16.48013},
 {'id': 99, 'name': 'Dike', 'period': 18.11914},
 {'id': 100, 'name': 'Hekate', 'period': 27.0703},
 {'id': 103, 'name': 'Hera', 'period': 23.74266},
 {'id': 104, 'name': 'Klymene', 'period': 8.98059},
 {'id': 105, 'name': 'Artemis', 'period': 37.118},
 {'id': 106, 'name': 'Dione', 'period': 16.2126},
 {'id': 107, 'name': 'Camilla', 'period': 4.843928},
 {'id': 108, 'name': 'Hecuba', 'period': 14.25662},
 {'id': 109, 'name': 'Felicitas', 'period': 13.19055},
 {'id': 110, 'name': 'Lydia', 'period': 10.9258},
 {'id': 112, 'name': 'Iphigenia', 'period': 31.4625},
 {'id': 114, 'name': 'Kassandra', 'period': 10.74359},
 {'id': 115, 'name': 'Thyra', 'period': 7.23996},
 {'id': 116, 'name': 'Sirona', 'period': 12.03251},
 {'id': 117, 'name': 'Lomia', 'period': 9.12418},
 {'id': 118, 'name': 'Peitho', 'period': 7.8066},
 {'id': 119, 'name': 'Althaea', 'period': 11.46514},
 {'id': 120, 'name': 'Lachesis', 'period': 46.5504},
 {'id': 121, 'name': 'Hermione', 'period': 5.550877},
 {'id': 122, 'name': 'Gerda', 'period': 10.68724},
 {'id': 123, 'name': 'Brunhild', 'period': 9.8734},
 {'id': 124, 'name': 'Alkeste', 'period': 9.907},
 {'id': 125, 'name': 'Liberatrix', 'period': 3.968199},
 {'id': 126, 'name': 'Velleda', 'period': 5.36708},
 {'id': 127, 'name': 'Johanna', 'period': 12.79954},
 {'id': 129, 'name': 'Antigone', 'period': 4.95716},
 {'id': 130, 'name': 'Elektra', 'period': 5.224663},
 {'id': 131, 'name': 'Vala', 'period': 5.180809},
 {'id': 132, 'name': 'Aethra', 'period': 5.168274},
 {'id': 133, 'name': 'Cyrene', 'period': 12.7086},
 {'id': 134, 'name': 'Sophrosyne', 'period': 17.1892},
 {'id': 135, 'name': 'Hertha', 'period': 8.4006},
 {'id': 136, 'name': 'Austria', 'period': 11.49662},
 {'id': 137, 'name': 'Meliboea', 'period': 25.6736},
 {'id': 138, 'name': 'Tolosa', 'period': 10.10308},
 {'id': 139, 'name': 'Juewa', 'period': 20.9846},
 {'id': 140, 'name': 'Siwa', 'period': 34.398},
 {'id': 144, 'name': 'Vibilia', 'period': 13.82517},
 {'id': 146, 'name': 'Lucina', 'period': 18.5538},
 {'id': 147, 'name': 'Protogeneia', 'period': 7.85232},
 {'id': 148, 'name': 'Gallia', 'period': 20.6636},
 {'id': 149, 'name': 'Medusa', 'period': 26.0454},
 {'id': 150, 'name': 'Nuwa', 'period': 8.13456},
 {'id': 151, 'name': 'Abundantia', 'period': 9.864},
 {'id': 152, 'name': 'Atala', 'period': 6.24472},
 {'id': 154, 'name': 'Bertha', 'period': 25.2285},
 {'id': 155, 'name': 'Scylla', 'period': 7.95879},
 {'id': 156, 'name': 'Xanthippe', 'period': 22.1157},
 {'id': 157, 'name': 'Dejanira', 'period': 15.8287},
 {'id': 158, 'name': 'Koronis', 'period': 14.20569},
 {'id': 159, 'name': 'Aemilia', 'period': 24.47866},
 {'id': 160, 'name': 'Una', 'period': 11.03316},
 {'id': 161, 'name': 'Athor', 'period': 7.280086},
 {'id': 162, 'name': 'Laurentia', 'period': 11.86918},
 {'id': 163, 'name': 'Erigone', 'period': 16.14033},
 {'id': 164, 'name': 'Eva', 'period': 13.6638},
 {'id': 165, 'name': 'Loreley', 'period': 7.22439},
 {'id': 166, 'name': 'Rhodope', 'period': 4.714793},
 {'id': 167, 'name': 'Urda', 'period': 13.06133},
 {'id': 168, 'name': 'Sibylla', 'period': 47.015},
 {'id': 171, 'name': 'Ophelia', 'period': 6.664541},
 {'id': 172, 'name': 'Baucis', 'period': 27.413},
 {'id': 173, 'name': 'Ino', 'period': 6.110939},
 {'id': 174, 'name': 'Phaedra', 'period': 5.750249},
 {'id': 175, 'name': 'Andromache', 'period': 8.328},
 {'id': 176, 'name': 'Iduna', 'period': 11.28783},
 {'id': 178, 'name': 'Belisana', 'period': 12.32142},
 {'id': 179, 'name': 'Klytaemnestra', 'period': 11.17342},
 {'id': 180, 'name': 'Garumna', 'period': 23.8592},
 {'id': 182, 'name': 'Elsa', 'period': 80.166},
 {'id': 183, 'name': 'Istria', 'period': 11.76897},
 {'id': 184, 'name': 'Dejopeja', 'period': 6.44111},
 {'id': 186, 'name': 'Celuta', 'period': 19.8435},
 {'id': 187, 'name': 'Lamberta', 'period': 10.66703},
 {'id': 188, 'name': 'Menippe', 'period': 11.97648},
 {'id': 189, 'name': 'Phthia', 'period': 22.34156},
 {'id': 191, 'name': 'Kolga', 'period': 17.6039},
 {'id': 192, 'name': 'Nausikaa', 'period': 13.62523},
 {'id': 193, 'name': 'Ambrosia', 'period': 6.58167},
 {'id': 195, 'name': 'Eurykleia', 'period': 16.52179},
 {'id': 196, 'name': 'Philomela', 'period': 8.332827},
 {'id': 199, 'name': 'Byblis', 'period': 5.22063},
 {'id': 201, 'name': 'Penelope', 'period': 3.747455},
 {'id': 202, 'name': 'Chryseis', 'period': 23.6703},
 {'id': 204, 'name': 'Kallisto', 'period': 19.4862},
 {'id': 206, 'name': 'Hersilia', 'period': 11.11129},
 {'id': 207, 'name': 'Hedda', 'period': 30.104},
 {'id': 208, 'name': 'Lacrimosa', 'period': 14.08574},
 {'id': 209, 'name': 'Dido', 'period': 5.7356},
 {'id': 210, 'name': 'Isabella', 'period': 6.6719},
 {'id': 212, 'name': 'Medea', 'period': 10.28414},
 {'id': 213, 'name': 'Lilaea', 'period': 12.0395},
 {'id': 214, 'name': 'Aschera', 'period': 6.83369},
 {'id': 215, 'name': 'Oenone', 'period': 27.908},
 {'id': 216, 'name': 'Kleopatra', 'period': 5.385282},
 {'id': 217, 'name': 'Eudora', 'period': 25.2626},
 {'id': 218, 'name': 'Bianca', 'period': 6.337172},
 {'id': 219, 'name': 'Thusnelda', 'period': 59.7106},
 {'id': 220, 'name': 'Stephania', 'period': 18.2088},
 {'id': 221, 'name': 'Eos', 'period': 10.44213},
 {'id': 222, 'name': 'Lucia', 'period': 7.83671},
 {'id': 223, 'name': 'Rosa', 'period': 20.2769},
 {'id': 225, 'name': 'Henrietta', 'period': 7.3561},
 {'id': 226, 'name': 'Weringia', 'period': 11.14849},
 {'id': 227, 'name': 'Philosophia', 'period': 26.4613},
 {'id': 230, 'name': 'Athamantis', 'period': 23.9845},
 {'id': 231, 'name': 'Vindobona', 'period': 14.2447},
 {'id': 232, 'name': 'Russia', 'period': 21.907},
 {'id': 233, 'name': 'Asterope', 'period': 19.698},
 {'id': 234, 'name': 'Barbara', 'period': 26.478},
 {'id': 235, 'name': 'Carolina', 'period': 17.6126},
 {'id': 236, 'name': 'Honoria', 'period': 12.3397},
 {'id': 237, 'name': 'Coelestina', 'period': 29.1758},
 {'id': 238, 'name': 'Hypatia', 'period': 8.87274},
 {'id': 239, 'name': 'Adrastea', 'period': 18.4717},
 {'id': 240, 'name': 'Vanadis', 'period': 10.5606},
 {'id': 242, 'name': 'Kriemhild', 'period': 4.545174},
 {'id': 243, 'name': 'Ida', 'period': 4.633632},
 {'id': 244, 'name': 'Sita', 'period': 129.716},
 {'id': 245, 'name': 'Vera', 'period': 14.35651},
 {'id': 246, 'name': 'Asporina', 'period': 16.2522},
 {'id': 247, 'name': 'Eukrate', 'period': 12.0948},
 {'id': 248, 'name': 'Lameia', 'period': 11.912},
 {'id': 249, 'name': 'Ilse', 'period': 84.995},
 {'id': 250, 'name': 'Bettina', 'period': 5.05441},
 {'id': 251, 'name': 'Sophia', 'period': 20.222},
 {'id': 252, 'name': 'Clementina', 'period': 10.86189},
 {'id': 253, 'name': 'Mathilde', 'period': 420.1},
 {'id': 254, 'name': 'Augusta', 'period': 5.895048},
 {'id': 255, 'name': 'Oppavia', 'period': 19.4973},
 {'id': 256, 'name': 'Walpurga', 'period': 16.66014},
 {'id': 257, 'name': 'Silesia', 'period': 15.7097},
 {'id': 258, 'name': 'Tyche', 'period': 10.04007},
 {'id': 260, 'name': 'Huberta', 'period': 8.29055},
 {'id': 261, 'name': 'Prymno', 'period': 7.99983},
 {'id': 262, 'name': 'Valda', 'period': 17.3855},
 {'id': 263, 'name': 'Dresda', 'period': 16.81384},
 {'id': 264, 'name': 'Libussa', 'period': 9.22795},
 {'id': 265, 'name': 'Anna', 'period': 11.69033},
 {'id': 267, 'name': 'Tirza', 'period': 7.6529},
 {'id': 269, 'name': 'Justitia', 'period': 33.129},
 {'id': 270, 'name': 'Anahita', 'period': 15.05907},
 {'id': 271, 'name': 'Penthesilea', 'period': 18.7874},
 {'id': 272, 'name': 'Antonia', 'period': 3.854798},
 {'id': 273, 'name': 'Atropos', 'period': 23.928},
 {'id': 274, 'name': 'Philagoria', 'period': 17.94072},
 {'id': 275, 'name': 'Sapientia', 'period': 14.93046},
 {'id': 276, 'name': 'Adelheid', 'period': 6.3192},
 {'id': 277, 'name': 'Elvira', 'period': 29.6922},
 {'id': 278, 'name': 'Paulina', 'period': 6.49387},
 {'id': 280, 'name': 'Philia', 'period': 70.28},
 {'id': 281, 'name': 'Lucretia', 'period': 4.349711},
 {'id': 282, 'name': 'Clorinde', 'period': 49.363},
 {'id': 283, 'name': 'Emma', 'period': 6.895226},
 {'id': 286, 'name': 'Iclea', 'period': 15.36114},
 {'id': 287, 'name': 'Nephthys', 'period': 7.6041},
 {'id': 289, 'name': 'Nenetta', 'period': 6.91599},
 {'id': 290, 'name': 'Bruna', 'period': 13.80554},
 {'id': 291, 'name': 'Alice', 'period': 4.316011},
 {'id': 292, 'name': 'Ludovica', 'period': 8.926},
 {'id': 293, 'name': 'Brasilia', 'period': 8.1741},
 {'id': 295, 'name': 'Theresia', 'period': 10.7064},
 {'id': 296, 'name': 'Phaetusa', 'period': 4.53809},
 {'id': 297, 'name': 'Caecilia', 'period': 4.151389},
 {'id': 299, 'name': 'Thora', 'period': 273.4},
 {'id': 301, 'name': 'Bavaria', 'period': 12.2409},
 {'id': 302, 'name': 'Clarissa', 'period': 14.4767},
 {'id': 303, 'name': 'Josephina', 'period': 12.499},
 {'id': 304, 'name': 'Olga', 'period': 18.2012},
 {'id': 305, 'name': 'Gordonia', 'period': 12.89356},
 {'id': 306, 'name': 'Unitas', 'period': 8.73875},
 {'id': 310, 'name': 'Margarita', 'period': 12.07095},
 {'id': 311, 'name': 'Claudia', 'period': 7.53138},
 {'id': 312, 'name': 'Pierretta', 'period': 10.20765},
 {'id': 313, 'name': 'Chaldaea', 'period': 8.38992},
 {'id': 314, 'name': 'Rosalia', 'period': 20.4672},
 {'id': 315, 'name': 'Constantia', 'period': 5.34749},
 {'id': 317, 'name': 'Roxane', 'period': 8.16961},
 {'id': 320, 'name': 'Katharina', 'period': 6.89205},
 {'id': 321, 'name': 'Florentina', 'period': 2.8708658},
 {'id': 322, 'name': 'Phaeo', 'period': 17.5728},
 {'id': 323, 'name': 'Brucia', 'period': 9.4596},
 {'id': 326, 'name': 'Tamara', 'period': 14.46136},
 {'id': 327, 'name': 'Columbia', 'period': 5.93183},
 {'id': 328, 'name': 'Gudrun', 'period': 10.98504},
 {'id': 329, 'name': 'Svea', 'period': 22.76703},
 {'id': 331, 'name': 'Etheridgea', 'period': 25.315},
 {'id': 332, 'name': 'Siri', 'period': 8.0062},
 {'id': 333, 'name': 'Badenia', 'period': 9.86107},
 {'id': 334, 'name': 'Chicago', 'period': 7.36014},
 {'id': 335, 'name': 'Roberta', 'period': 12.02713},
 {'id': 336, 'name': 'Lacadiera', 'period': 13.69553},
 {'id': 337, 'name': 'Devosa', 'period': 4.65265},
 {'id': 338, 'name': 'Budrosa', 'period': 4.60783},
 {'id': 340, 'name': 'Eduarda', 'period': 8.00613},
 {'id': 341, 'name': 'California', 'period': 320.79},
 {'id': 342, 'name': 'Endymion', 'period': 6.31652},
 {'id': 343, 'name': 'Ostara', 'period': 110.028},
 {'id': 345, 'name': 'Tercidina', 'period': 12.37082},
 {'id': 347, 'name': 'Pariana', 'period': 4.052456},
 {'id': 349, 'name': 'Dembowska', 'period': 4.701204},
 {'id': 350, 'name': 'Ornamenta', 'period': 9.18041},
 {'id': 351, 'name': 'Yrsa', 'period': 13.31195},
 {'id': 352, 'name': 'Gisela', 'period': 7.480076},
 {'id': 353, 'name': 'Ruperto-Carola', 'period': 2.738963},
 {'id': 354, 'name': 'Eleonora', 'period': 4.277184},
 {'id': 355, 'name': 'Gabriella', 'period': 4.828994},
 {'id': 356, 'name': 'Liguria', 'period': 31.7046},
 {'id': 357, 'name': 'Ninina', 'period': 35.984},
 {'id': 360, 'name': 'Carlova', 'period': 6.189593},
 {'id': 361, 'name': 'Bononia', 'period': 13.80634},
 {'id': 362, 'name': 'Havnia', 'period': 16.92668},
 {'id': 364, 'name': 'Isara', 'period': 9.15751},
 {'id': 365, 'name': 'Corduba', 'period': 12.70544},
 {'id': 367, 'name': 'Amicitia', 'period': 5.055021},
 {'id': 368, 'name': 'Haidea', 'period': 9.8215},
 {'id': 370, 'name': 'Modestia', 'period': 22.5407},
 {'id': 371, 'name': 'Bohemia', 'period': 10.73965},
 {'id': 372, 'name': 'Palma', 'period': 8.58191},
 {'id': 373, 'name': 'Melusina', 'period': 12.98629},
 {'id': 374, 'name': 'Burgundia', 'period': 6.96397},
 {'id': 376, 'name': 'Geometria', 'period': 7.71098},
 {'id': 377, 'name': 'Campania', 'period': 11.6644},
 {'id': 378, 'name': 'Holmia', 'period': 4.440427},
 {'id': 380, 'name': 'Fiducia', 'period': 13.7172},
 {'id': 381, 'name': 'Myrrha', 'period': 6.571955},
 {'id': 382, 'name': 'Dodona', 'period': 4.113228},
 {'id': 383, 'name': 'Janina', 'period': 6.42941},
 {'id': 384, 'name': 'Burdigala', 'period': 408.0},
 {'id': 385, 'name': 'Ilmatar', 'period': 62.54},
 {'id': 386, 'name': 'Siegena', 'period': 9.76503},
 {'id': 387, 'name': 'Aquitania', 'period': 24.14011},
 {'id': 388, 'name': 'Charybdis', 'period': 9.51122},
 {'id': 389, 'name': 'Industria', 'period': 8.4952},
 {'id': 390, 'name': 'Alma', 'period': 3.741167},
 {'id': 391, 'name': 'Ingeborg', 'period': 26.4146},
 {'id': 394, 'name': 'Arduina', 'period': 16.62174},
 {'id': 395, 'name': 'Delia', 'period': 19.6802},
 {'id': 396, 'name': 'Aeolia', 'period': 14.3531},
 {'id': 399, 'name': 'Persephone', 'period': 9.14639},
 {'id': 433, 'name': 'Eros', 'period': 5.27025528},
 {'id': 704, 'name': 'Interamnia', 'period': 8.712337}]

In [8]:
for i in range(400, 2000):
    downloader.query_asteroid(i, exists_ok=True)

Beginning asteroid extraction for: 357...
Found asteroid: Ninina
Found 2 models for Ninina, selecting the most recent one...
Downloaded light curve JSON for asteroid Ninina to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Ninina/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Ninina/period.txt
Finished extracting asteroid Ninina!
Beginning asteroid extraction for: 358...
No object found for query: 358!
Beginning asteroid extraction for: 359...
No object found for query: 359!
Beginning asteroid extraction for: 360...
Found asteroid: Carlova
Found 2 models for Carlova, selecting the most recent one...
Downloaded light curve JSON for asteroid Carlova to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Carlova/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Carlova/period.txt
Finished extracting asteroid Carlova!
Beginning asteroid extraction for: 361...
Found asteroid: Bononia
Found 2 models for Bononia, selecting the most recent one...
Downloaded light curve JSON for asteroid Bononia to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Bononia/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Bononia/period.txt
Finished extracting asteroid Bononia!
Beginning asteroid extraction for: 362...
Found asteroid: Havnia
Found 2 models for Havnia, selecting the most recent one...
Downloaded light curve JSON for asteroid Havnia to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Havnia/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Havnia/period.txt
Finished extracting asteroid Havnia!
Beginning asteroid extraction for: 363...
No object found for query: 363!
Beginning asteroid extraction for: 364...
Found asteroid: Isara
Found 2 models for Isara, selecting the most recent one...
Downloaded light curve JSON for asteroid Isara to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Isara/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Isara/period.txt
Finished extracting asteroid Isara!
Beginning asteroid extraction for: 365...
Found asteroid: Corduba
Found 2 models for Corduba, selecting the most recent one...
Downloaded light curve JSON for asteroid Corduba to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Corduba/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Corduba/period.txt
Finished extracting asteroid Corduba!
Beginning asteroid extraction for: 366...
No object found for query: 366!
Beginning asteroid extraction for: 367...
Found asteroid: Amicitia
Found 2 models for Amicitia, selecting the most recent one...
Downloaded light curve JSON for asteroid Amicitia to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Amicitia/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Amicitia/period.txt
Finished extracting asteroid Amicitia!
Beginning asteroid extraction for: 368...
Found asteroid: Haidea
Found 2 models for Haidea, selecting the most recent one...
Downloaded light curve JSON for asteroid Haidea to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Haidea/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Haidea/period.txt
Finished extracting asteroid Haidea!
Beginning asteroid extraction for: 369...
No object found for query: 369!
Beginning asteroid extraction for: 370...
Found asteroid: Modestia
Found 2 models for Modestia, selecting the most recent one...
Downloaded light curve JSON for asteroid Modestia to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Modestia/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Modestia/period.txt
Finished extracting asteroid Modestia!
Beginning asteroid extraction for: 371...
Found asteroid: Bohemia
Found 2 models for Bohemia, selecting the most recent one...
Downloaded light curve JSON for asteroid Bohemia to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Bohemia/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Bohemia/period.txt
Finished extracting asteroid Bohemia!
Beginning asteroid extraction for: 372...
Found asteroid: Palma
Found 2 models for Palma, selecting the most recent one...
Downloaded light curve JSON for asteroid Palma to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Palma/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Palma/period.txt
Finished extracting asteroid Palma!
Beginning asteroid extraction for: 373...
Found asteroid: Melusina
Found 2 models for Melusina, selecting the most recent one...
Downloaded light curve JSON for asteroid Melusina to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Melusina/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Melusina/period.txt
Finished extracting asteroid Melusina!
Beginning asteroid extraction for: 374...
Found asteroid: Burgundia
Found 2 models for Burgundia, selecting the most recent one...
Downloaded light curve JSON for asteroid Burgundia to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Burgundia/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Burgundia/period.txt
Finished extracting asteroid Burgundia!
Beginning asteroid extraction for: 375...
No object found for query: 375!
Beginning asteroid extraction for: 376...
Found asteroid: Geometria
Found 2 models for Geometria, selecting the most recent one...
Downloaded light curve JSON for asteroid Geometria to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Geometria/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Geometria/period.txt
Finished extracting asteroid Geometria!
Beginning asteroid extraction for: 377...
Found asteroid: Campania
Found 2 models for Campania, selecting the most recent one...
Downloaded light curve JSON for asteroid Campania to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Campania/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Campania/period.txt
Finished extracting asteroid Campania!
Beginning asteroid extraction for: 378...
Found asteroid: Holmia
Found 2 models for Holmia, selecting the most recent one...
Downloaded light curve JSON for asteroid Holmia to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Holmia/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Holmia/period.txt
Finished extracting asteroid Holmia!
Beginning asteroid extraction for: 379...
No object found for query: 379!
Beginning asteroid extraction for: 380...
Found asteroid: Fiducia
Found 2 models for Fiducia, selecting the most recent one...
Downloaded light curve JSON for asteroid Fiducia to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Fiducia/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Fiducia/period.txt
Finished extracting asteroid Fiducia!
Beginning asteroid extraction for: 381...
Found asteroid: Myrrha
Found 2 models for Myrrha, selecting the most recent one...
Downloaded light curve JSON for asteroid Myrrha to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Myrrha/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Myrrha/period.txt
Finished extracting asteroid Myrrha!
Beginning asteroid extraction for: 382...
Found asteroid: Dodona
Found 2 models for Dodona, selecting the most recent one...
Downloaded light curve JSON for asteroid Dodona to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Dodona/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Dodona/period.txt
Finished extracting asteroid Dodona!
Beginning asteroid extraction for: 383...
Found asteroid: Janina
Found 2 models for Janina, selecting the most recent one...
Downloaded light curve JSON for asteroid Janina to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Janina/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Janina/period.txt
Finished extracting asteroid Janina!
Beginning asteroid extraction for: 384...
Found asteroid: Burdigala
Found 1 models for Burdigala, selecting the most recent one...
Downloaded light curve JSON for asteroid Burdigala to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Burdigala/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Burdigala/period.txt
Finished extracting asteroid Burdigala!
Beginning asteroid extraction for: 385...
Found asteroid: Ilmatar
Found 1 models for Ilmatar, selecting the most recent one...
Downloaded light curve JSON for asteroid Ilmatar to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Ilmatar/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Ilmatar/period.txt
Finished extracting asteroid Ilmatar!
Beginning asteroid extraction for: 386...
Found asteroid: Siegena
Found 2 models for Siegena, selecting the most recent one...
Downloaded light curve JSON for asteroid Siegena to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Siegena/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Siegena/period.txt
Finished extracting asteroid Siegena!
Beginning asteroid extraction for: 387...
Found asteroid: Aquitania
Found 1 models for Aquitania, selecting the most recent one...
Downloaded light curve JSON for asteroid Aquitania to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Aquitania/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Aquitania/period.txt
Finished extracting asteroid Aquitania!
Beginning asteroid extraction for: 388...
Found asteroid: Charybdis
Found 1 models for Charybdis, selecting the most recent one...
Downloaded light curve JSON for asteroid Charybdis to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Charybdis/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Charybdis/period.txt
Finished extracting asteroid Charybdis!
Beginning asteroid extraction for: 389...
Found asteroid: Industria
Found 2 models for Industria, selecting the most recent one...
Downloaded light curve JSON for asteroid Industria to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Industria/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Industria/period.txt
Finished extracting asteroid Industria!
Beginning asteroid extraction for: 390...
Found asteroid: Alma
Found 2 models for Alma, selecting the most recent one...
Downloaded light curve JSON for asteroid Alma to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Alma/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Alma/period.txt
Finished extracting asteroid Alma!
Beginning asteroid extraction for: 391...
Found asteroid: Ingeborg
Found 1 models for Ingeborg, selecting the most recent one...
Downloaded light curve JSON for asteroid Ingeborg to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Ingeborg/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Ingeborg/period.txt
Finished extracting asteroid Ingeborg!
Beginning asteroid extraction for: 392...
No object found for query: 392!
Beginning asteroid extraction for: 393...
No object found for query: 393!
Beginning asteroid extraction for: 394...
Found asteroid: Arduina
Found 2 models for Arduina, selecting the most recent one...
Downloaded light curve JSON for asteroid Arduina to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Arduina/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Arduina/period.txt
Finished extracting asteroid Arduina!
Beginning asteroid extraction for: 395...
Found asteroid: Delia
Found 2 models for Delia, selecting the most recent one...
Downloaded light curve JSON for asteroid Delia to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Delia/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Delia/period.txt
Finished extracting asteroid Delia!
Beginning asteroid extraction for: 396...
Found asteroid: Aeolia
Found 2 models for Aeolia, selecting the most recent one...
Downloaded light curve JSON for asteroid Aeolia to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Aeolia/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Aeolia/period.txt
Finished extracting asteroid Aeolia!
Beginning asteroid extraction for: 397...
No object found for query: 397!
Beginning asteroid extraction for: 398...
No object found for query: 398!
Beginning asteroid extraction for: 399...
Found asteroid: Persephone
Found 2 models for Persephone, selecting the most recent one...
Downloaded light curve JSON for asteroid Persephone to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Persephone/lc.json
Saved period for asteroid to /home/marek/Projects/asteroid-lightcurves/data/asteroids/Persephone/period.txt
Finished extracting asteroid Persephone!

In [9]:
df = asteroid_loader._asteroids_df
df

,number,name,designation,comment,created,modified
id,,,,,,
101,2,Pallas,NaN,NaN,NaN,2019-05-31 11:22:28
102,3,Juno,NaN,NaN,NaN,2010-04-15 15:54:09
103,5,Astraea,NaN,NaN,NaN,2010-04-15 15:54:09
104,6,Hebe,NaN,NaN,NaN,2010-04-15 15:54:09
105,7,Iris,NaN,NaN,NaN,2019-05-31 11:23:12
...,...,...,...,...,...,...
10860,566,Stereoskopia,NaN,NaN,2023-10-03 11:28:29,2023-10-03 11:28:29
10861,738,Alagasta,NaN,NaN,2023-10-03 11:28:29,2023-10-03 11:28:29
10862,138852,NaN,NaN,NaN,2024-02-20 13:13:16,2024-02-20 13:13:16
10863,85989,NaN,NaN,NaN,2024-02-20 13:13:16,2024-02-20 13:13:16
10864,357,Ninina,NaN,NaN,2024-04-08 13:08:24,2024-04-08 13:08:24